<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<welcome-file-list>
		<welcome-file>/login.jsp</welcome-file>
	</welcome-file-list>


	<filter>
		<filter-name>Security Filter</filter-name>
		<filter-class>org.securityfilter.filter.SecurityFilter
		</filter-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/securityfilter-config.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<!--
		map all requests to the SecurityFilter, control what it does with
		configuration settings
	-->
	<filter-mapping>
		<filter-name>Security Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>



	<servlet>
		<servlet-name>Obtener Turno</servlet-name>
		<servlet-class>edu.austral.lab1.odontobook.web.ObtenerTurnosServ
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Redireccionar Home</servlet-name>
		<servlet-class>edu.austral.lab1.odontobook.web.RedirectHomeServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>edu.austral.lab1.odontobook.web.Logout
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Ver Turnos</servlet-name>
		<servlet-class>edu.austral.lab1.odontobook.web.VerTurnosServlet
		</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>Sacar Turno</servlet-name>
		<servlet-class>edu.austral.lab1.odontobook.web.SacarTurnoServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Seleccionar ver Turno</servlet-name>
		<servlet-class>edu.austral.lab1.odontobook.web.SeleccionarVerTurnoServlet
		</servlet-class>
	</servlet>	

	<servlet>
		<servlet-name>Sacar Turno Red</servlet-name>
		<servlet-class>edu.austral.lab1.odontobook.web.SacarTurnoRedServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Confirmar Sacar Turno Red</servlet-name>
		<servlet-class>edu.austral.lab1.odontobook.web.ConfirmarSacarTurnoServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Cancelar Turno Red</servlet-name>
		<servlet-class>edu.austral.lab1.odontobook.web.CancelarTurnoRed
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Cancelar Turno</servlet-name>
		<servlet-class>edu.austral.lab1.odontobook.web.CancelarTurnoServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Confirmado Turno</servlet-name>
		<servlet-class>edu.austral.lab1.odontobook.web.ConfirmadoTurnoServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Confirmar Cancelar Turno</servlet-name>
		<servlet-class>edu.austral.lab1.odontobook.web.ConfirmarCancelarTurnoServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Confirmado Cancelar Turno</servlet-name>
		<servlet-class>edu.austral.lab1.odontobook.web.ConfirmadoCancelarServlet
		</servlet-class>
	</servlet>

	
	<servlet>
		<servlet-name>Go Home</servlet-name>
		<servlet-class>edu.austral.lab1.odontobook.web.GoHomeServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Nombre Completo</servlet-name>
		<servlet-class>edu.austral.lab1.odontobook.web.ObtenerNombreCompletoServlet
		</servlet-class>

		 <init-param>
         	   <param-name>name </param-name>
        </init-param>
	

	</servlet>
	

	<servlet-mapping>
		<servlet-name>invoker</servlet-name>
		<url-pattern>/NombreCompleto.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Go Home</servlet-name>
		<url-pattern>/GoHome.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Confirmado Cancelar Turno</servlet-name>
		<url-pattern>/ConfirmadoCancelar.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Confirmar Cancelar Turno</servlet-name>
		<url-pattern>/ConfirmarCancelarTurno.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Confirmado Turno </servlet-name>
		<url-pattern>/Confirmado.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Cancelar Turno </servlet-name>
		<url-pattern>/CancelarTurno.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Cancelar Turno Red</servlet-name>
		<url-pattern>/CancelarRed.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Confirmar Sacar Turno Red</servlet-name>
		<url-pattern>/ConfirmarSacarTurno.do</url-pattern>
	</servlet-mapping>	

	<servlet-mapping>
		<servlet-name>Sacar Turno Red</servlet-name>
		<url-pattern>/SacarTurnoRed.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Seleccionar ver Turno</servlet-name>
		<url-pattern>/SeleccionarVerTurno.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Sacar Turno</servlet-name>
		<url-pattern>/SacarTurno.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Ver Turnos</servlet-name>
		<url-pattern>/VerTurnos.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Redireccionar Home</servlet-name>
		<url-pattern>/Redireccionar.do</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>Obtener Turno</servlet-name>
		<url-pattern>/ObtenerTurno.do</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>edu.austral.lab1.odontobook.web.OdontoServletContext
		</listener-class>
	</listener>

</web-app>