<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	
<servlet>
<servlet-name>Obtener turno</servlet-name>
<servlet-class>edu.austral.lab1.odontobook.web.ObtenerTurnosServ</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Obtener turno</servlet-name>
	<url-pattern>/ObtenerTurno.do</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Login</servlet-name>
<servlet-class>edu.austral.lab1.odontobook.web.Login</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Login</servlet-name>
	<url-pattern>/Login.do</url-pattern>
</servlet-mapping>
</web-app>